.hobbyPage {
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #333;
  }

  // Parrilla responsive
  .hobbies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
    align-items: start;
  }
}
