.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%) blur(5px);
}

.mainPage {
  overflow-y: hidden;
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Asegura que todo el contenido ocupe la pantalla

  p,
  h1 {
    font-family: "Capitalis", sans-serif;
    text-shadow: 6px 1px 2px black;
  }

  .hero-section {
    padding: 20px;
    max-width: 90vw; // Limitar el ancho en pantallas pequeñas
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; // Centrar en pantallas grandes y pequeñas
  }

  // Estilos para el logo
  .logoAgora {
    width: 200px; // Tamaño base del logo
    height: auto;
    margin-bottom: 20px; // Margen inferior para separar del título

    @media (max-width: 768px) {
      width: 150px; // Tamaño del logo en tablets y pantallas medianas
    }

    @media (max-width: 480px) {
      width: 55vw; // Tamaño del logo en móviles pequeños
    }
  }

  .main-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .main-description {
    font-size: 1.5rem;
    max-width: 55vw;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .main-call-to-action {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  // Media queries para pantallas pequeñas
  @media (max-width: 768px) {
    .hero-section {
      max-width: 100vw; // En móviles, ocupa todo el ancho
      padding: 15px; // Reducir padding
    }

    .main-title {
      font-size: 2.5rem; // Ajustar tamaño de fuente
    }

    .main-description {
      font-size: 1.2rem;
      max-width: 90vw; // Ocupa más ancho en móviles
    }

    .main-call-to-action {
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    .main-title {
      font-size: 3rem; // Más pequeño en móviles pequeños
    }

    .main-description {
      font-size: 1.1rem;
    }

    .main-call-to-action {
      font-size: 1rem;
    }
  }
}
