body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%) blur(5px);
}
